.container{
    padding: 0px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

}

.container > h1{
    color: var(--gray-600);
    font-size: 2.5rem;
}


.container >p{
    color: var(--gray-500);
    font-size: 1.4rem;
    width: 52rem;
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* CARD GENERIC */

.Cardcontainer{
    margin-top: 5rem;
    display: flex;
    background-color: var(--backgroud-card);
    border-radius: 10px;
    padding: 60px 0px 0px 60px;
    transition: all 0.3s;
    
    height: 15rem;
}
.Cardcontainer:hover{
    transition: all 0.3s;
    -webkit-box-shadow:  0px 2px 15px var(--gray-500);
    -moz-box-shadow:  0px 2px 15px var(--gray-500);
    box-shadow:  0px 2px 15px var(--gray-500);
}

.CardText > h2{ 
    color: var(--gray-600);
    font-weight: 700;
    font-size: 1.6rem;
    width: 23rem;
}

.CardText > p{ 
    color: var(--gray-500);
    width: 15rem;
}

@media (max-width: 1025px) {
    .container {
      width: 100%;
      padding: 0.938rem;
      margin-top: 5rem;
    
    }

    .Cardcontainer{
        width: 100%;
        padding: 10px 0px 0px 10px;
        flex-direction: column;
       
    }
  
    .container > h1{
        font-size: 2.3rem;
        text-align: center;
    }

    .container >p{
        font-size: 1rem;
        width: 100%;
        text-align: center;   
    }

    .cards{
        width: 100%; 
  
    }

    .image{
        width: 120px;

        position: fixed;
        left: 17.5rem;
        top: 5rem;
        bottom: 5px;
    }

    .CardText > h2{ 
        font-size: 1.3rem;
        width: 23rem;
    }
    
    .CardText > p{ 
        margin-top: 1rem;
    }

  }
  


